<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model"/>
    <config key="view">
        <config key="displayedColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="2"/>
                <entry key="0" type="xstring" value="PriceRecommendedProduct"/>
                <entry key="1" type="xstring" value="RecommendedProduct"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="2"/>
                    <entry key="0" type="xstring" value="PriceRecommendedProduct"/>
                    <entry key="1" type="xstring" value="RecommendedProduct"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="13"/>
                    <entry key="0" type="xstring" value="RuleId"/>
                    <entry key="1" type="xstring" value="AntecedentsTotalPrice"/>
                    <entry key="2" type="xstring" value="AntecedentsNames"/>
                    <entry key="3" type="xstring" value="RuleSupport"/>
                    <entry key="4" type="xstring" value="RelativeRuleSupport%"/>
                    <entry key="5" type="xstring" value="AntecedentsItems"/>
                    <entry key="6" type="xstring" value="RecommendedItem"/>
                    <entry key="7" type="xstring" value="RuleConfidence%"/>
                    <entry key="8" type="xstring" value="RuleLift%"/>
                    <entry key="9" type="xstring" value="RuleLift"/>
                    <entry key="10" type="xstring" value="Concatenate(Antecedent (#1))=Concatenate(AntecedentsItems)"/>
                    <entry key="11" type="xstring" value="RuleRevenue"/>
                    <entry key="12" type="xstring" value="price current cart"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
                <config key="typeDisplays"/>
            </config>
        </config>
        <entry key="showRowKeys" type="xboolean" value="false"/>
        <entry key="showColumnDataType" type="xboolean" value="true"/>
        <entry key="showRowIndices" type="xboolean" value="false"/>
        <entry key="title" type="xstring" value="Top 2 product recommendations"/>
        <entry key="showTitle" type="xboolean" value="true"/>
        <entry key="enablePagination" type="xboolean" value="false"/>
        <entry key="pageSize" type="xint" value="10"/>
        <entry key="compactMode" type="xboolean" value="false"/>
        <entry key="enableGlobalSearch" type="xboolean" value="true"/>
        <entry key="enableColumnSearch" type="xboolean" value="true"/>
        <entry key="enableSortingByHeader" type="xboolean" value="true"/>
        <entry key="enableRendererSelection" type="xboolean" value="true"/>
        <entry key="publishSelection" type="xboolean" value="true"/>
        <entry key="subscribeToSelection" type="xboolean" value="true"/>
        <entry key="skipRemainingColumns_Internals" type="xboolean" value="false"/>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Top 2 product recommendations %%00010based on the input shop cart"/>
        <entry key="contentType" type="xstring" value="text/plain"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="811"/>
        <entry key="y-coordinate" type="xint" value="576"/>
        <entry key="width" type="xint" value="181"/>
        <entry key="height" type="xint" value="30"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="0"/>
        <entry key="defFontSize" type="xint" value="-1"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.tableview.TableViewNodeFactory"/>
    <entry key="node-name" type="xstring" value="Table View"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.0.v202307031056"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.0.v202307031056"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Table View"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
