<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="selectedColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="11"/>
                <entry key="0" type="xstring" value="CustomerKey"/>
                <entry key="1" type="xstring" value="WebActivity"/>
                <entry key="2" type="xstring" value="SentimentRating"/>
                <entry key="3" type="xstring" value="EstimatedYearlyIncome"/>
                <entry key="4" type="xstring" value="NumberOfContracts"/>
                <entry key="5" type="xstring" value="Age"/>
                <entry key="6" type="xstring" value="Target"/>
                <entry key="7" type="xstring" value="Available401K"/>
                <entry key="8" type="xstring" value="CustomerValueSegment"/>
                <entry key="9" type="xstring" value="ChurnScore"/>
                <entry key="10" type="xstring" value="CallActivity"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="11"/>
                    <entry key="0" type="xstring" value="CustomerKey"/>
                    <entry key="1" type="xstring" value="WebActivity"/>
                    <entry key="2" type="xstring" value="SentimentRating"/>
                    <entry key="3" type="xstring" value="EstimatedYearlyIncome"/>
                    <entry key="4" type="xstring" value="NumberOfContracts"/>
                    <entry key="5" type="xstring" value="Age"/>
                    <entry key="6" type="xstring" value="Target"/>
                    <entry key="7" type="xstring" value="Available401K"/>
                    <entry key="8" type="xstring" value="CustomerValueSegment"/>
                    <entry key="9" type="xstring" value="ChurnScore"/>
                    <entry key="10" type="xstring" value="CallActivity"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="5"/>
                    <entry key="0" type="xstring" value="Sentiment Analysis"/>
                    <entry key="1" type="xstring" value="MaritalStatus"/>
                    <entry key="2" type="xstring" value="Gender"/>
                    <entry key="3" type="xstring" value="Products"/>
                    <entry key="4" type="xstring" value="birthday"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
    </config>
    <config key="view">
        <config key="displayedColumns">
            <config key="selected_Internals">
                <entry key="array-size" type="xint" value="7"/>
                <entry key="0" type="xstring" value="Name"/>
                <entry key="1" type="xstring" value="50% Quantile (Median)"/>
                <entry key="2" type="xstring" value="Mean"/>
                <entry key="3" type="xstring" value="Mean Absolute Deviation"/>
                <entry key="4" type="xstring" value="Standard Deviation"/>
                <entry key="5" type="xstring" value="Sum"/>
                <entry key="6" type="xstring" value="10 most common values"/>
            </config>
            <entry key="mode" type="xstring" value="MANUAL"/>
            <config key="patternFilter">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="isCaseSensitive" type="xboolean" value="false"/>
                <entry key="isInverted" type="xboolean" value="false"/>
            </config>
            <config key="manualFilter">
                <config key="manuallySelected">
                    <entry key="array-size" type="xint" value="7"/>
                    <entry key="0" type="xstring" value="Name"/>
                    <entry key="1" type="xstring" value="50% Quantile (Median)"/>
                    <entry key="2" type="xstring" value="Mean"/>
                    <entry key="3" type="xstring" value="Mean Absolute Deviation"/>
                    <entry key="4" type="xstring" value="Standard Deviation"/>
                    <entry key="5" type="xstring" value="Sum"/>
                    <entry key="6" type="xstring" value="10 most common values"/>
                </config>
                <config key="manuallyDeselected">
                    <entry key="array-size" type="xint" value="16"/>
                    <entry key="0" type="xstring" value="Type"/>
                    <entry key="1" type="xstring" value="# Missing values"/>
                    <entry key="2" type="xstring" value="# Unique values"/>
                    <entry key="3" type="xstring" value="Minimum"/>
                    <entry key="4" type="xstring" value="Maximum"/>
                    <entry key="5" type="xstring" value="1% Quantile"/>
                    <entry key="6" type="xstring" value="5% Quantile"/>
                    <entry key="7" type="xstring" value="10% Quantile"/>
                    <entry key="8" type="xstring" value="25% Quantile"/>
                    <entry key="9" type="xstring" value="75% Quantile"/>
                    <entry key="10" type="xstring" value="90% Quantile"/>
                    <entry key="11" type="xstring" value="95% Quantile"/>
                    <entry key="12" type="xstring" value="99% Quantile"/>
                    <entry key="13" type="xstring" value="Variance"/>
                    <entry key="14" type="xstring" value="Skewness"/>
                    <entry key="15" type="xstring" value="Kurtosis"/>
                </config>
                <entry key="includeUnknownColumns" type="xboolean" value="false"/>
            </config>
            <config key="typeFilter">
                <config key="selectedTypes">
                    <entry key="array-size" type="xint" value="0"/>
                </config>
            </config>
        </config>
        <entry key="showRowKeys" type="xboolean" value="false"/>
        <entry key="showRowIndices" type="xboolean" value="false"/>
        <entry key="showColumnDataType" type="xboolean" value="false"/>
        <entry key="publishSelection" type="xboolean" value="false"/>
        <entry key="subscribeToSelection" type="xboolean" value="false"/>
        <entry key="compactMode" type="xboolean" value="false"/>
        <entry key="enableRendererSelection" type="xboolean" value="false"/>
        <entry key="showTableSize" type="xboolean" value="true"/>
        <entry key="title" type="xstring" value="Statistics"/>
        <entry key="showTitle" type="xboolean" value="true"/>
        <entry key="enablePagination" type="xboolean" value="false"/>
        <entry key="pageSize" type="xint" value="10"/>
        <entry key="autoSizeColumnsToContent" type="xstring" value="FIXED"/>
        <entry key="enableGlobalSearch" type="xboolean" value="true"/>
        <entry key="enableColumnSearch" type="xboolean" value="true"/>
        <entry key="enableSortingByHeader" type="xboolean" value="true"/>
        <entry key="skipRemainingColumns_Internals" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.views.node.statistics.StatisticsNodeFactory"/>
    <entry key="node-name" type="xstring" value="Statistics"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Views"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.views"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.1.v202308221556"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Views"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.views.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Statistics"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="table"/>
                <entry key="table_dir_location" type="xstring" value="object_0"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="b0ca76a1-3f85-4e22-94fd-cb1bb4d5028d"/>
    </config>
</config>
