PUSHI 5
PUSHI 4
PUSHI 3
PUSHI 2
PUSHI 1
PUSHI 4
PUSHI 0
PUSHI 0
PUSHI 0

START
label2c: NOP
PUSHG 6
PUSHG 5
INF
JZ label2f
PUSHI 0
STOREG 7
label1c: NOP
PUSHG 7
PUSHG 5
INF
JZ label1f
PUSHGP
PUSHI 0
PADD
PUSHG 7
LOADN
PUSHGP
PUSHI 0
PADD
PUSHG 7
PUSHI 1
ADD
LOADN
SUP
JZ label0
PUSHGP
PUSHI 0
PADD
PUSHG 7
LOADN
STOREG 8
PUSHGP
PUSHI 0
PADD
PUSHG 7
PUSHGP
PUSHI 0
PADD
PUSHG 7
PUSHI 1
ADD
LOADN
STOREN
PUSHGP
PUSHI 0
PADD
PUSHG 7
PUSHI 1
ADD
PUSHG 8
STOREN
label0: NOP
PUSHG 7
PUSHI 1
ADD
STOREG 7
JUMP label1c
label1f: NOP
PUSHG 6
PUSHI 1
ADD
STOREG 6
JUMP label2c
label2f: NOP
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 4
LOADN
WRITEI
WRITELN
PUSHS "Estou ordenado! :)"
WRITES
STOP