PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 5
PUSHI 5
PUSHI 0
START
label0c: NOP
PUSHG 6
PUSHG 5
INF
JZ label0f
PUSHGP
PUSHI 0
PADD
PUSHG 6
PUSHGP
PUSHI 0
PADD
PUSHG 6
LOADN
PUSHGP
PUSHI 0
PADD
PUSHG 6
LOADN
MUL
STOREN
PUSHG 6
PUSHI 1
ADD
STOREG 6
JUMP label0c
label0f: NOP
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
WRITEI
WRITELN
PUSHGP
PUSHI 0
PADD
PUSHI 4
LOADN
WRITEI
WRITELN
STOP