JUMP function0Ignore
function0:
PUSHS "teste\n"
WRITES
RETURN
function0Ignore:

JUMP function1Ignore
function1:
PUSHI 5
PUSHG 0
WRITEI
WRITELN
RETURN
function1Ignore:

JUMP function2Ignore
function2:
PUSHS "reservado"
WRITES
RETURN
function2Ignore:


START
PUSHA function0
CALL
PUSHA function1
CALL
PUSHA function2
CALL
STOP