PUSHI 1
PUSHI 2
PUSHI 3
PUSHI 4
PUSHI 5
PUSHI 6
PUSHI 7
PUSHI 8
PUSHI 9
PUSHI 10
PUSHN 10
START
PUSHGP
PUSHI 10
PADD
PUSHI 0
PUSHGP
PUSHI 0
PADD
PUSHI 0
LOADN
STOREN
PUSHGP
PUSHI 10
PADD
PUSHI 1
PUSHGP
PUSHI 0
PADD
PUSHI 1
LOADN
STOREN
PUSHGP
PUSHI 10
PADD
PUSHI 2
PUSHGP
PUSHI 0
PADD
PUSHI 2
LOADN
STOREN
PUSHGP
PUSHI 10
PADD
PUSHI 3
PUSHGP
PUSHI 0
PADD
PUSHI 3
LOADN
STOREN
PUSHGP
PUSHI 10
PADD
PUSHI 10
PUSHI 10
STOREN
PUSHGP
PUSHI 10
PADD
PUSHI 0
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 1
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 2
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 3
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 4
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 5
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 6
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 7
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 8
LOADN
WRITEI
PUSHS "\n"
WRITES
PUSHGP
PUSHI 10
PADD
PUSHI 9
LOADN
WRITEI
PUSHS "\n"
WRITES
STOP