PUSHI 10
PUSHI 0
PUSHI 20
START
PUSHG 0
PUSHI 10
EQUAL
PUSHG 2
PUSHI 20
EQUAL
NOT
ADD
PUSHI 1
SUPEQ
NOT
JZ l0
PUSHI 10
STOREG 1
PUSHS "If clause\n"
WRITES
PUSHG 1
WRITEI
PUSHS "\n"
WRITES
JUMP l0f
l0: NOP
PUSHI 30
STOREG 2
PUSHS "Else clause\n"
WRITES
PUSHG 2
WRITEI
PUSHS "\n"
WRITES
l0f: NOP
PUSHS "Passei o if\n"
WRITES
STOP