<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="targetColumn" type="xstring" value="Weekly Sales"/>
        <entry key="seed" type="xstring" value="1699457848319"/>
        <entry key="maxLevels" type="xint" value="-1"/>
        <entry key="minNodeSize" type="xint" value="-1"/>
        <entry key="minChildSize" type="xint" value="-1"/>
        <entry key="dataFraction" type="xdouble" value="1.0"/>
        <entry key="isDataSelectionWithReplacement" type="xboolean" value="true"/>
        <entry key="hardCodedRootColumn" type="xstring" isnull="true" value=""/>
        <entry key="columnSamplingMode" type="xstring" value="SquareRoot"/>
        <entry key="columnFractionPerTree" type="xdouble" value="1.0"/>
        <entry key="columnAbsolutePerTree" type="xint" value="10"/>
        <entry key="isUseDifferentAttributesAtEachNode" type="xboolean" value="true"/>
        <entry key="nrModels" type="xint" value="100"/>
        <entry key="splitCriterion" type="xstring" value="InformationGain"/>
        <entry key="missingValueHandling" type="xstring" value="XGBoost"/>
        <entry key="useAverageSplitPoints" type="xboolean" value="true"/>
        <entry key="useBinaryNominalSplits" type="xboolean" value="true"/>
        <entry key="fingerprintColumn" type="xstring" isnull="true" value=""/>
        <config key="columnFilterConfig">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="6"/>
                <entry key="0" type="xstring" value="Store"/>
                <entry key="1" type="xstring" value="Type"/>
                <entry key="2" type="xstring" value="Size"/>
                <entry key="3" type="xstring" value="Year"/>
                <entry key="4" type="xstring" value="Month"/>
                <entry key="5" type="xstring" value="Max*(IsHoliday)"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceInclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="ignoreColumnsWithoutDomain" type="xboolean" value="true"/>
        <entry key="nrHilitePatterns" type="xint" value="-1"/>
        <entry key="saveTargetDistributionInNodes" type="xboolean" value="false"/>
        <entry key="rowSamplingMode" type="xstring" value="Random"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="nrModels">
                <entry key="used_variable" type="xstring" value="nrModels"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
            <config key="splitCriterion">
                <entry key="used_variable" type="xstring" value="Split Criteria"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.mine.treeensemble2.node.randomforest.learner.classification.RandomForestClassificationLearnerNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Random Forest Learner"/>
    <entry key="node-bundle-name" type="xstring" value="Decisions Tree Ensembles for KNIME"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.treeensembles2"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.0.v202303061416"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Ensemble Learning Wrappers"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.ensembles.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.0.v202303061416"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Random Forest Learner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 476, Cols: 14"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 6, Cols: 6"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.base.node.mine.treeensemble2.model.TreeEnsembleModelPortObject"/>
            <entry key="port_object_summary" type="xstring" value="500 classifiers on 6 attributes"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content">
            <config key="object_0">
                <entry key="index" type="xint" value="0"/>
                <entry key="type" type="xstring" value="referenced_output"/>
                <entry key="outport" type="xint" value="3"/>
            </config>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
