<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Sum(Weekly_Sales)"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="9"/>
                <entry key="0" type="xstring" value="Store"/>
                <entry key="1" type="xstring" value="Size"/>
                <entry key="2" type="xstring" value="Year"/>
                <entry key="3" type="xstring" value="Month"/>
                <entry key="4" type="xstring" value="Max*(IsHoliday)"/>
                <entry key="5" type="xstring" value="IsHoliday"/>
                <entry key="6" type="xstring" value="Dept"/>
                <entry key="7" type="xstring" value="year"/>
                <entry key="8" type="xstring" value="month"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <entry key="method" type="xstring" value="fixedNumber"/>
        <entry key="binCount" type="xint" value="4"/>
        <entry key="equalityMethod" type="xstring" value="frequency"/>
        <entry key="integerBounds" type="xboolean" value="false"/>
        <config key="sampleQuantiles">
            <entry key="array-size" type="xint" value="5"/>
            <entry key="0" type="xdouble" value="0.0"/>
            <entry key="1" type="xdouble" value="0.25"/>
            <entry key="2" type="xdouble" value="0.5"/>
            <entry key="3" type="xdouble" value="0.75"/>
            <entry key="4" type="xdouble" value="1.0"/>
        </config>
        <entry key="binNaming" type="xstring" value="numbered"/>
        <entry key="replaceColumn" type="xboolean" value="true"/>
        <entry key="advancedFormatting" type="xboolean" value="false"/>
        <entry key="outputFormat" type="xstring" value="Standard"/>
        <entry key="precision" type="xint" value="3"/>
        <entry key="precisionMode" type="xstring" value="Decimal"/>
        <entry key="roundingMode" type="xstring" value="HALF_UP"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.autobinner3.AutoBinnerLearnNodeFactory"/>
    <entry key="node-name" type="xstring" value="Auto-Binner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.1.1.v202308221556"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.1.1.v202308221556"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Auto-Binner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 476, Cols: 7"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.base.node.preproc.autobinner.pmml.PMMLDiscretizePreprocPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.base.node.preproc.autobinner.pmml.PMMLDiscretizePreprocPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Discretized columns : [Sum(Weekly_Sales)]%%00010"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="c1346faf-5853-47c8-b474-0b1059ac81a2"/>
    </config>
</config>
